.image {
    width: 75%;
}

.image-item {
    display: flex;
    border: 1px solid darken($off-white, 7%);
    background: white;
}

.image-info {
    width:25%;
    padding: $m-size;
}

.image-profile {
    background-size: 64px 64px;
    border-radius: 50%;
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 64px;
    width: 64px;
    z-index: 0;
}