.list-header {
    // background-color: white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    //justify-content: space-between;
    padding: $s-size $m-size;
}

.list-body {
    // background-color: white;
    margin: $m-size 0;
    border: 1px solid darken($off-white, 7%);
    // border-top: none;
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-items {
    //border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    padding: $xs-size;
    text-decoration: none;
    transition: background .3s ease;
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        //padding: $m-size;
    }
}

.list-item {
    flex-direction: column;
    position: relative;
    >img,div {
        border: 1px solid darken($off-white, 7%);
        &:hover {
            opacity: .8;
        }
    }
    > img {
        border-bottom: none;
    }
    > div {
        width:100%;
        border-top: none;
        font-weight: 600;
        font-size: $s-size;
        padding: $xs-size;
    }
}

.list-item__price {
    position: absolute;
    right: 14rem;
    top: 17rem;
    display: block;
    background: black;
    color: white;
    padding: 0.4rem;
    opacity: .8;
    border-radius: 3px;
    font-weight: 300;
}

.list-item__image {
    border: 1px solid darken($off-white, 7%);
}

.list-item-image {
    object-fit: cover;
    width:200px;
    height:200px;
}

.list-item--message {
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    margin: $s-size 0 0 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}